/.metadata/
/C++/Retos_de_Programacion/.metadata/
/C++/Retos_de_Programacion/CADENAS_DE_CARACTERES_04/.cproject
/C++/Retos_de_Programacion/CADENAS_DE_CARACTERES_04/.gitignore
/C++/Retos_de_Programacion/CADENAS_DE_CARACTERES_04/.project
/C++/Retos_de_Programacion/ESTRUCTURAS_DE_DATOS_03/Debug/
/C++/Retos_de_Programacion/FUNCIONES_Y_ALCANCE_02/.metadata/
/C++/Retos_de_Programacion/FUNCIONES_Y_ALCANCE_02/Debug/
/C++/Retos_de_Programacion/OPERADORES_Y_ESTRUCTURAS_DE_CONTROL_01/Debug/
/C++/Retos_de_Programacion/SINTAXIS_VARIABLES_TIPOS_DE_DATOS_Y_HOLA_MUNDO_00/Debug/
/Java/Retos_de_Programacion/.metadata/
/Java/Retos_de_Programacion/bin/
/Java/Retos_de_Programacion/src/CADENAS_DE_CARACTERES_04.class
/Java/Retos_de_Programacion/src/ESTRUCTURAS_DE_DATOS_03.class
/Java/Retos_de_Programacion/src/FUNCIONES_Y_ALCANCE_02.class
/Java/Retos_de_Programacion/src/OPERADORES_Y_ESTRUCTURAS_DE_CONTROL_01.class
/Java/Retos_de_Programacion/src/SINTAXIS_VARIABLES_TIPOS_DE_DATOS_Y_HOLA_MUNDO_00.class
